---
layout: archive
title: "Experience"
permalink: /experience/
author_profile: true
---

{% include base_path %}

<div class="archive">

{% assign sorted_experience = site.experience | sort: "date" | reverse %}

{% for post in sorted_experience %}

  <article style="margin-bottom: 25px;">

    <h2 style="margin-bottom: 5px;">
      {{ post.title }}
    </h2>

    <div>
      {{ post.excerpt }}
    </div>

  </article>

  <hr style="border: 0; border-top: 1px solid #eee; margin: 25px 0;">

{% endfor %}

</div>