---
layout: archive
title: "Experience"
permalink: /experience/
author_profile: true
---

{% include base_path %}

{% assign sorted_experience = site.experience | sort: "date" | reverse %}

<div style="max-width: 800px; margin: 0 auto; font-family: Arial;">

{% for post in sorted_experience %}

  <div style="
    padding: 4px 0;
    border-left: 3px solid black;
    padding-left: 10px;
    margin-bottom: 6px;
  ">

    <div style="
      font-weight: 800;
      font-size: 16px;
      margin: 0;
      color: black;
    ">
      {{ post.title }}
    </div>

    <div style="
      font-size: 12px;
      line-height: 1.2;
      margin: 0;
    ">
      {{ post.excerpt }}
    </div>

  </div>

  <div style="
    height: 1px;
    background: black;
    margin: 4px 0;
    opacity: 0.3;
  "></div>

{% endfor %}

</div>