---
layout: default
---

{% include base_path %}

<div id="main" role="main">
  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="page__inner-wrap">

      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          ### {{ page.title }}
          {% if page.date %}
            *Published on:* {{ page.date | date: "%B %d, %Y" }}
          {% endif %}
        </header>
      {% endunless %}

      <section class="page__content" itemprop="text">
        {{ content }}
      </section>
      
    </div>
  </article>
</div>
